aiohttp==3.7.2
aioresponses==0.7.1
async-timeout==3.0.1
attrs==20.3.0
cchardet==2.1.7
chardet==3.0.4
click==7.1.2
coverage==5.3
idna==2.10
iniconfig==1.1.1
multidict==5.0.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-aiohttp==0.3.0
pytest-asyncio==0.14.0
pytest-cov==2.10.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
yarl==1.6.2
